#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.avatar {
  display: flex;
  justify-content: center;
}
.name {
  color: black;
}
.card-container {
  display: flex;
  justify-content: center;
}